# Python
__pycache__/
*.pyc

# Build folders
build/
dist/
app/build/
app/dist/

# Executables
*.exe

# PyInstaller
*.spec

# Installer output
installer_output/

# Database
*.db

# Logs
logs/

# Backups
backups/

# Claude / local config
.claude/

# Secret key config
app/config.py